{% assign mydata = mydata | reverse %}
<table>
    <thead>
        <th>TimeStamp</th>
        <th>Freq</th>
        {% for i in (1..4) %}
            <th>{{ i }}</th>
        {% endfor %}
        {% for i in (1..4) %}
            <th>{{ i }}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for row in mydata %}
        <tr>
            <td>{{ row.TimeStamp }}</td>
            <td>{{ row.Freq }}</td>
            <td>{{ row.ASIC_1 }}</td>
            <td>{{ row.ASIC_2 }}</td>
            <td>{{ row.ASIC_3 }}</td>
            <td>{{ row.ASIC_4 }}</td>
            <td>{{ row.ASIC_1_Status | split: '' | uniq }}</td>
            <td>{{ row.ASIC_2_Status | split: '' | uniq }}</td>
            <td>{{ row.ASIC_3_Status | split: '' | uniq }}</td>
            <td>{{ row.ASIC_4_Status | split: '' | uniq }}</td>   
        </tr>
    {% endfor %}
    </tbody>
</table>
