{% assign mydata = mydata | reverse %}
<table>
    <thead>
        <th>TimeStamp</th>
        {% for i in (1..4) %}
            <th>T. {{ i }}</th>
        {% endfor %}
        <th>T. max</th>
        <th>Fan 1</th>
        <th>Fan 2</th>
    </thead>
    <tbody>
    {% for row in mydata %}
        <tr>
            <td>{{ row.TimeStamp }}</td>
            <td>{{ row.T_1 }}</td>
            <td>{{ row.T_2 }}</td>
            <td>{{ row.T_3 }}</td>
            <td>{{ row.T_4 }}</td>
            <td>{{ row.T_max }}</td>
            <td>{{ row.Fan_1 }}</td>
            <td>{{ row.Fan_2 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>